@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>This application belong to TÔ THANH TÂM - Completed 16/07/2021</p>
<a href="@Url.Action("Register", "Account")">Experience with BigSchool now</a>